flaskpyodbcsqlalchemypandaspython-dotenvsqlparsetransformers==4.39.0torchacceleratepeftsentencepiecesafetensorsstreamlit"mssql+pyodbc://sa:1234@localhost/olist?driver=ODBC+Driver+17+for+SQL+Server"