streamlit
sqlalchemy
pandas
pyodbc
python-dotenv
sqlparse
ollama

 transformers 
 sentencepiece 
 torch 
 peft 
 accelerate 
 safetensors

//"mssql+pyodbc://sa:1234@localhost/olist?driver=ODBC+Driver+17+for+SQL+Server"